/* .jumbotron {
  background-image: url("https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

img {
  width: 100%;
}

.card {
  padding: 2rem;
}